<html lang="en">
<script></script>
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<center>
<div class="user">
    <div>
        <p class="serif">Изменить пользователя</p>
    </div>
    <div>
        <div>Фамилия</div>
        <input class="" type="text" ng-model="user.surname" placeholder="Новая фамилия">
    </div>
    <div>
        <div>Имя</div>
        <input class="" type="text" ng-model="user.name" placeholder="Новое имя">
    </div>
    <div>
        <div>Количество денег</div>
        <input class="" type="text" ng-model="user.balance" placeholder="Новое количество денег">
    </div>
    <div>
		<p class = "serif"> Номер аккаунта </p>
		<div class="div1" ng-repeat="admin in admins" ng-click="pickAdmin(admin)">{{admin.name}}</div>
	</div>
    <div>
        <button class="btn btn-success" ng-click="ChangeUser()">Сохранить</button>
    </div>
</div>
</center>
</body>
</html>