<!DOCTYPE html>
<html lang="en">
<script></script>
<head>
    <meta charset="UTF-8">
    <title>Группа</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <!-- <script src="node_modules/angular/angular.js"></script> -->
<!--    <script src="appModule.js"></script>
    <script src="groupController.js"></script> -->

</head>
<body>
<center>
<div class="">
    <div>
        <p class="serif">Добавить аккаунт</p>
    </div>
    <div>
        <div>Имя</div>
        <input class="" type="text" ng-model="admin.name">
    </div>
    <div>
        <button class="btn btn-success" ng-click="CreateAdmin()">Добавить</button>
    </div>
</div>
</center>
</body>
</html>