html, body, #page-one, #page-two, #page-three, #page-four #page-five {
 height:100%;
 width:100%;
}
#mainNav {
 background-color: #668AE4;
 color: #ddd;
 line-height:4em;
 padding:0 1em;
 position:fixed;
 top: 0em;
 width:100%;
 height: 100%;
}
 
a, a:link, a:visited, a:hover, a:active {
 color:#eee;
 text-decoration:none;
 display:inline-block;

 height: 100%;
}
 
a:hover {color: #4861A2;}
 
h2 {font-size:3em; padding-top:1em; text-align:center;}
